.MainTitle {
    display: flex;
    margin-right: 22px;
    width: 102px;
    height: 52px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 42px;
    color: #1b153c;
    text-decoration: none solid rgb(27, 21, 60);
}